/*--------------------ПОРТФОЛІО--------------------  */
.examples-item:not(:first-child) {
    margin-left: 8px;
}

/*.btn.current {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}*/

.examples-btn {
    padding: 6px 22px;
    font-weight: 500;
    letter-spacing: 0.03em;

    transition: color var(--time-duration) var(--time-function),
        background-color var(--time-duration) var(--time-function);
}

.examples-btn:hover,
.examples-btn:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.examples-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.examples-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-right: -30px;
}

.examples-element {
    width: 370px;
    margin-top: 30px;
    margin-right: 30px;
}

.examples-element:nth-child(3n) {
    margin-right: 0;
}

.examples-link {
    display: block;
    transition: box-shadow var(--time-duration) var(--time-function);
}

.examples-link:hover,
.examples-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples-thumb {
    position: relative;
    overflow: hidden;
}

.examples-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
    color: var(--primary-white-color);
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform var(--time-duration) var(--time-function);
}

.examples-link:hover .examples-overlay,
.examples-link:focus .examples-overlay {
    transform: translateY(0);
}

.examples-photo {
    display: block;
}

.examples-container {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-left: 1px solid var(--portfolio-border-color);
    border-right: 1px solid var(--portfolio-border-color);
    border-bottom: 1px solid var(--portfolio-border-color);
}

.examples-title {
    margin-top: 0;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--primary-text-color);
    letter-spacing: 0.06em;
}

.examples-text {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.88;
}